# KiCad 
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
\#auto_saved_files\#
_autosave-*
*~

# KiCad internal
*.kicad_prl
.history
fp-info-cache
~*.lck

# Netlist 
*.net
*.dsn
*.ses

# PCB fabrication 
*.gbr
*.gtl
*.gbl
*.gts
*.gbs
*.gto
*.gbo
*.drl


# Backups
backups/

easyeda2kicad/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
