# KiCad 
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
_autosave-*
~*
*~

# KiCad internal
*.kicad_prl
.history
fp-info-cache
~*.lck

# Netlist 
*.net
*.dsn
*.ses

# PCB fabrication 
*.gbr
*.gtl
*.gbl
*.gts
*.gbs
*.gto
*.gbo
*.drl

# BOM exports 
# *_bom.csv
# *_bom.xml

# Backups
backups/

easyeda2kicad/
